<button type="button" class="btn btn-outline-primary ripple" (click)="isCollapsed = !isCollapsed"
               [attr.aria-expanded]="!isCollapsed" aria-controls="collapse"> 
              
      <b>   Show Table </b>  &nbsp; <span class="glyphicon glyphicon-chevron-down"> </span> 
</button>
&nbsp;

&nbsp;

<div id="collapse" [ngbCollapse]="isCollapsed" class="mat-elevation-z8">
   <mat-table [dataSource]="listData" matSort>
      <ng-container matColumnDef="date">
         <mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</mat-header-cell>
         <mat-cell *matCellDef="let form">{{form.date}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="flow">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Flow</mat-header-cell>
            <mat-cell *matCellDef="let form">{{form.flow}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="pressure">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Pressure</mat-header-cell>
            <mat-cell *matCellDef="let form">{{form.pressure}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
         <mat-footer-cell *matFooterCellDef colspan="6">
            Loading data...
         </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
               No Data
            </mat-footer-cell>
         </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
   </mat-table>
   <mat-paginator #paginator [pageSizeOptions]="[5,10,25,50]" [pageSize]="5"></mat-paginator>
</div>